/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #111, #ccc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styling */
.container {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Label Styling */
label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

/* Input & Textarea */
input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

/* Button Styling */
button {
    background: #333;
    color: white;
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background: #cccc;
    transform: scale(1.10);
    color: black;
    
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
